@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
#root,
.app,
.content {
  font-family: "Source Sance Pro", sans-serif;
  overflow-x: hidden;
}
* {
  font-family: "Cairo", sans-serif !important;
}
::-webkit-scrollbar {
  width: 15px;
  transition: all.5s !important;
}
.leaflet-container {
  width: 100%; 
  height: 400px;
}
/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bd0f0f;
  cursor: pointer !important;
  border-radius: 0;
  transition: all.5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  transition: all 1s;
  cursor: pointer !important;
  background: #555;
}
.MuiDataGrid-cell--textLeft {
  cursor: pointer;
}
.empDetailsSection > div p {
  margin: 0 !important;
  margin-bottom: 2px !important;
  width: 50%;
  font-weight: 600;
}
.empDetailsSection > div p span {
  font-weight: 400 !important;
  color: #555;
}

.empDetailsSection > div {
  display: flex;
  align-items: center;
}
/* ::selection{ 
  pointer-events: none;
} */

/* Add styles for RTL layout */
.rtl {
  direction: rtl;
}

/* Add styles for LTR layout (optional) */
.ltr {
  direction: ltr;
}


.customFont,label{
  /* font-family: 'PT Serif', serif !important; */
  font-size: 18px !important;
  font-weight: bold !important;
}

.MuiTablePagination-displayedRows {
  margin: 0 0.5rem !important;
}

/* For .MuiInputBase-root-MuiTablePagination-select */
.MuiInputBase-root-MuiTablePagination-select {
  margin: 0 0.5rem !important;
}

/* For .MuiTablePagination-selectLabel */
.MuiTablePagination-selectLabel {
  margin: 0 0.5rem !important;
  font-size: 16px !important;
}
.MuiTablePagination-actions {
  direction: ltr !important;
}

.MuiTablePagination-displayedRows {
  direction: ltr !important;
}
.MuiDataGrid-cellContent {
  font-size: 18px;
}
.MuiDataGrid-cell--textLeft {
  font-size: 18px;
}
/*  */
.css-1c8nyuh-MuiButtonBase-root-MuiFab-root,
.css-1khpv5p-MuiButtonBase-root-MuiFab-root {
  background-color:orange !important;
  color: white !important;
}
input[type="text"],
fieldset,
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  font-size: 20px !important;
  font-weight: bold  !important;
  font-family: "Cairo", sans-serif !important;
}